.carousel {
    width: 900px; height: 900px; 
    justify-content: center;
    margin-bottom: 50px;
}

.carousel-indicators {
    visibility: hidden;
}

.carousel-control {
    visibility: hidden;
}

.text-danger {
    text-align: center;
}

.modal {
    margin-bottom: 50px;
}

.footer {
    justify-content: center;
    margin-top: 50px;
}
#socialmedia {
    text-align: center;
}

#contactform {
    text-align: center;
}

.p {
    text-align: center;
}

#headingmore :hover {
     {
        display: none;
        
    }
}

#morebutton {

}